In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'

r = requests.get(url)

if r.status_code == 200:
    html_doc = r.text
    
# get BeautifulSoup object
soup = BeautifulSoup(html_doc)

# find the table elements
tables = soup.find_all("table")

# the table we want is the first one
list_of_companies = tables[0]

# all of the rows of the table
rows = list_of_companies.find_all("tr")

# storage for the extracted data
output = []

# specify column names
column_names = ["Name", "Industry", "Revenue", "Profit",
                "Employees", "Headquarters", "Ref"]

# create a for loop statement
for company in rows:
    company_data = company.find_all("td")
    if company_data:
        # extract the text within each element
        company_text = [td.text for td in company_data]
        output.append(dict(zip(column_names, company_text)))
        
# import pandas
import pandas as pd

# create a DataFrame
data = pd.DataFrame(output)

# subset data set to only relevant columns
data_companies = data[['Name', 'Revenue', 'Headquarters']]

# view DataFrame
data_companies

                                       Name      Revenue      Headquarters
0                                   Walmart     $559,151     United States
1                                State Grid     $386,617           China\n
2                                    Amazon     $386,064   United States\n
3                China National Petroleum\n     $283,958             China
4                             Sinopec Group     $283,728             China
5                                     Apple     $274,515     United States
6                                CVS Health     $268,706     United States
7                              UnitedHealth     $257,141   United States\n
8                                  Toyota\n     $256,722             Japan
9                              Volkswagen\n     $253,965           Germany
10                       Berkshire Hathaway     $254,510   United States\n
11                                 McKesson     $238,228     United States
12                 China State Construction     $234,425             China
13                             Saudi Aramco     $229,766      Saudi Arabia
14                        AmerisourceBergen     $213,990     United States
15                    Samsung Electronics\n     $200,734       South Korea
16                        Ping An Insurance     $191,509             China
17                                     BP\n     $183,500    United Kingdom
18                                  Shell\n     $183,195     Netherlands\n
19                                     ICBC     $182,794             China
20                                 Alphabet     $182,527     United States
21                                  Foxconn     $181,945            Taiwan
22                             ExxonMobil\n     $181,502     United States
23                      Mercedes-Benz Group     $175,827           Germany
24                  China Construction Bank     $172,000             China
25                                     AT&T     $171,760     United States
26                              Microsoft\n   $168,090\n   United States\n
27                                   Costco     $166,761     United States
28                                  Cigna\n   $160,401\n   United States\n
29               Agricultural Bank of China     $153,885             China
30                          Cardinal Health     $152,922   United States\n
31                                Trafigura     $146,994         Singapore
32                     China Life Insurance     $144,589             China
33                                 Glencore     $142,338       Switzerland
34  China Railway Engineering Corporation\n   $141,384\n           China\n
35                 Walgreens Boots Alliance     $139,537     United States
36                                     Exor     $136,186       Netherlands
37                                Allianz\n     $136,173           Germany
38                            Bank of China     $134,046             China
39                                   Kroger     $132,498     United States
40                               Home Depot     $132,110     United States
41             China Railway Construction\n   $131,992\n           China\n
42                         JPMorgan Chase\n     $129,503   United States\n
43                                 Huawei\n   $129,184\n           China\n
44                                  Verizon     $128,292     United States
45                                    AXA\n     $128,011            France
46                                   Ford\n     $127,144     United States
47                                    Honda     $124,241           Japan\n
48                           General Motors     $122,485     United States
49                                   Anthem     $121,867     United States

In [2]:
# import JSON library
import json

# export the output as a JSON file
output_json = json.dumps(output)

# view the output
print(output_json)

[{"Name": "Walmart", "Industry": "Retail", "Revenue": " $559,151", "Profit": "$13,510", "Employees": "2,300,000", "Headquarters": " United States", "Ref": "[4]\n"}, {"Name": "State Grid", "Industry": "Electricity", "Revenue": " $386,617", "Profit": "$5,580", "Employees": "896,360\n", "Headquarters": " China\n", "Ref": "[5]\n"}, {"Name": "Amazon", "Industry": "Retail, Information Technology", "Revenue": " $386,064", "Profit": "$21,331", "Employees": "1,608,000\n", "Headquarters": " United States\n", "Ref": "[6]\n"}, {"Name": "China National Petroleum\n", "Industry": "Oil and gas\n", "Revenue": " $283,958", "Profit": "$4,575", "Employees": "1,242,245", "Headquarters": " China", "Ref": "[7]\n"}, {"Name": "Sinopec Group", "Industry": "Oil and gas", "Revenue": " $283,728", "Profit": "$6,205", "Employees": "553,833", "Headquarters": " China", "Ref": "[8]\n"}, {"Name": "Apple", "Industry": "Electronics", "Revenue": " $274,515", "Profit": "$57,411", "Employees": "147,000", "Headquarters": " United States", "Ref": "[9]\n"}, {"Name": "CVS Health", "Industry": "Healthcare", "Revenue": " $268,706", "Profit": "$7,179", "Employees": "256,500", "Headquarters": " United States", "Ref": "[10]\n"}, {"Name": "UnitedHealth", "Industry": "Healthcare", "Revenue": " $257,141", "Profit": "$15,403", "Employees": "330,000\n", "Headquarters": " United States\n", "Ref": "[11]\n"}, {"Name": "Toyota\n", "Industry": "Automotive\n", "Revenue": " $256,722", "Profit": "$21,180", "Employees": "366,283", "Headquarters": " Japan", "Ref": "[12]\n"}, {"Name": "Volkswagen\n", "Industry": "Automotive", "Revenue": " $253,965", "Profit": "$10,104", "Employees": "662,575", "Headquarters": " Germany", "Ref": "[13]\n"}, {"Name": "Berkshire Hathaway", "Industry": "Financials", "Revenue": " $254,510", "Profit": "$42,521", "Employees": "360,000\n", "Headquarters": " United States\n", "Ref": "[14]\n"}, {"Name": "McKesson", "Industry": "Healthcare", "Revenue": " $238,228", "Profit": "-$4,539", "Employees": "67,500", "Headquarters": " United States", "Ref": "[15]\n"}, {"Name": "China State Construction", "Industry": "Construction", "Revenue": " $234,425", "Profit": "$3,578", "Employees": "356,864", "Headquarters": " China", "Ref": "[16]\n"}, {"Name": "Saudi Aramco", "Industry": "Oil and gas", "Revenue": " $229,766", "Profit": "$49,287", "Employees": "79,800", "Headquarters": " Saudi Arabia", "Ref": "[17]\n"}, {"Name": "AmerisourceBergen", "Industry": "Healthcare", "Revenue": " $213,990", "Profit": "$1,540", "Employees": "40,000", "Headquarters": " United States", "Ref": "[18]\n"}, {"Name": "Samsung Electronics\n", "Industry": "Electronics", "Revenue": " $200,734", "Profit": "$22,116", "Employees": "267,937", "Headquarters": " South Korea", "Ref": "[19]\n"}, {"Name": "Ping An Insurance", "Industry": "Financials", "Revenue": " $191,509", "Profit": "$20,739", "Employees": "362,035", "Headquarters": " China", "Ref": "[20]\n"}, {"Name": "BP\n", "Industry": "Oil and gas\n", "Revenue": " $183,500", "Profit": "-$20,305", "Employees": "68,100", "Headquarters": " United Kingdom", "Ref": "[21]\n"}, {"Name": "Shell\n", "Industry": "Oil and gas\n", "Revenue": " $183,195", "Profit": "-$21,680", "Employees": "87,000", "Headquarters": " Netherlands\n", "Ref": "[22]\n"}, {"Name": "ICBC", "Industry": "Financials", "Revenue": " $182,794", "Profit": "$45,783", "Employees": "439,787", "Headquarters": " China", "Ref": "[23]\n"}, {"Name": "Alphabet", "Industry": "Information technology", "Revenue": " $182,527", "Profit": "$40,269", "Employees": "144,056", "Headquarters": " United States", "Ref": "[24]\n"}, {"Name": "Foxconn", "Industry": "Electronics", "Revenue": " $181,945", "Profit": "$3,457", "Employees": "878,429", "Headquarters": " Taiwan", "Ref": "[25]\n"}, {"Name": "ExxonMobil\n", "Industry": "Oil and gas\n", "Revenue": " $181,502", "Profit": "-$22,440", "Employees": "72,000", "Headquarters": " United States", "Ref": "[26]\n"}, {"Name": "Mercedes-Benz Group", "Industry": "Automotive", "Revenue": " $175,827", "Profit": "$4,133", "Employees": "288,481", "Headquarters": " Germany", "Ref": "[27]\n"}, {"Name": "China Construction Bank", "Industry": "Financials", "Revenue": " $172,000", "Profit": "$39,283", "Employees": "373,814", "Headquarters": " China", "Ref": "[28]\n"}, {"Name": "AT&T", "Industry": "Telecommunications", "Revenue": " $171,760", "Profit": "-$5,176", "Employees": "230,760", "Headquarters": " United States", "Ref": "[29]\n"}, {"Name": "Microsoft\n", "Industry": "Information technology\n", "Revenue": " $168,090\n", "Profit": "$61,270\n", "Employees": "181,000\n", "Headquarters": " United States\n", "Ref": "[30]\n"}, {"Name": "Costco", "Industry": "Retail", "Revenue": " $166,761", "Profit": "$4,002", "Employees": "214,500", "Headquarters": " United States", "Ref": "[31]\n"}, {"Name": "Cigna\n", "Industry": "Healthcare\n", "Revenue": " $160,401\n", "Profit": "$8,458\n", "Employees": "72,963\n", "Headquarters": " United States\n", "Ref": "[32]\n"}, {"Name": "Agricultural Bank of China", "Industry": "Financials", "Revenue": " $153,885", "Profit": "$31,293", "Employees": "462,592", "Headquarters": " China", "Ref": "[33]\n"}, {"Name": "Cardinal Health", "Industry": "Healthcare", "Revenue": " $152,922", "Profit": "-$3,696", "Employees": "48,000\n", "Headquarters": " United States\n", "Ref": "[34]\n"}, {"Name": "Trafigura", "Industry": "Commodities", "Revenue": " $146,994", "Profit": "$1,699", "Employees": "8,619", "Headquarters": " Singapore", "Ref": "[35]\n"}, {"Name": "China Life Insurance", "Industry": "Insurance", "Revenue": " $144,589", "Profit": "$4,648", "Employees": "183,417", "Headquarters": " China", "Ref": "[36]\n"}, {"Name": "Glencore", "Industry": "Commodities", "Revenue": " $142,338", "Profit": "-$1,903", "Employees": "87,822", "Headquarters": " Switzerland", "Ref": "[37]\n"}, {"Name": "China Railway Engineering Corporation\n", "Industry": "Construction\n", "Revenue": " $141,384\n", "Profit": "$1,639\n", "Employees": "308,483\n", "Headquarters": " China\n", "Ref": "[38]\n"}, {"Name": "Walgreens Boots Alliance", "Industry": "Retail", "Revenue": " $139,537", "Profit": "$456", "Employees": "450,000", "Headquarters": " United States", "Ref": "[39]\n"}, {"Name": "Exor", "Industry": "Holding company", "Revenue": " $136,186", "Profit": "-$34", "Employees": "263,284", "Headquarters": " Netherlands", "Ref": "[40]\n"}, {"Name": "Allianz\n", "Industry": "Financials\n", "Revenue": " $136,173", "Profit": "$7,756", "Employees": "150,269", "Headquarters": " Germany", "Ref": "[41]\n"}, {"Name": "Bank of China", "Industry": "Financials", "Revenue": " $134,046", "Profit": "$27,952", "Employees": "309,084", "Headquarters": " China", "Ref": "[42]\n"}, {"Name": "Kroger", "Industry": "Retail", "Revenue": " $132,498", "Profit": "$2,585", "Employees": "465,000", "Headquarters": " United States", "Ref": "[2]\n"}, {"Name": "Home Depot", "Industry": "Retail", "Revenue": " $132,110", "Profit": "$12,870", "Employees": "504,800", "Headquarters": " United States", "Ref": "[2]\n"}, {"Name": "China Railway Construction\n", "Industry": "Construction\n", "Revenue": " $131,992\n", "Profit": "$1,486\n", "Employees": "364,632\n", "Headquarters": " China\n", "Ref": "[2]\n"}, {"Name": "JPMorgan Chase\n", "Industry": "Financials", "Revenue": " $129,503", "Profit": "$29,131", "Employees": "260,110\n", "Headquarters": " United States\n", "Ref": "[43]\n"}, {"Name": "Huawei\n", "Industry": "Electronics\n", "Revenue": " $129,184\n", "Profit": "$9,362\n", "Employees": "197,000\n", "Headquarters": " China\n", "Ref": "[44]\n"}, {"Name": "Verizon", "Industry": "Telecommunications", "Revenue": " $128,292", "Profit": "$17,801", "Employees": "135,500", "Headquarters": " United States", "Ref": "[45]\n"}, {"Name": "AXA\n", "Industry": "Financials\n", "Revenue": " $128,011", "Profit": "$3,605", "Employees": "96,595", "Headquarters": " France", "Ref": "[46]\n"}, {"Name": "Ford\n", "Industry": "Automotive", "Revenue": " $127,144", "Profit": "-$1,279", "Employees": "186,000", "Headquarters": " United States", "Ref": "[47]\n"}, {"Name": "Honda", "Industry": "Automotive", "Revenue": " $124,241", "Profit": "$6,202", "Employees": "211,374\n", "Headquarters": " Japan\n", "Ref": "[48]\n"}, {"Name": "General Motors", "Industry": "Automotive", "Revenue": " $122,485", "Profit": "$6,427", "Employees": "155,000", "Headquarters": " United States", "Ref": "[49]\n"}, {"Name": "Anthem", "Industry": "Healthcare", "Revenue": " $121,867", "Profit": "$4,572", "Employees": "83,400", "Headquarters": " United States", "Ref": "[2]\n"}]

In [3]:
# read json using pandas, output to .csv
pd.read_json(output_json).to_csv("list_of_companies.csv", index=False)

# save the json file to .json
with open("list_of_companies.json", "w") as f:
    json.dump(output, f)

In [4]:
# import and read CSV file
data_csv = pd.read_csv("list_of_companies.csv")

# view the data
print(data_csv.head())

# import and read JSON file
data_json = pd.read_json("list_of_companies.json")

# view the data
data_json.head()

                         Name                        Industry    Revenue  \
0                     Walmart                          Retail   $559,151
1                  State Grid                     Electricity   $386,617
2                      Amazon  Retail, Information Technology   $386,064
3  China National Petroleum\n                   Oil and gas\n   $283,958
4               Sinopec Group                     Oil and gas   $283,728

    Profit    Employees      Headquarters    Ref
0  $13,510    2,300,000     United States  [4]\n
1   $5,580    896,360\n           China\n  [5]\n
2  $21,331  1,608,000\n   United States\n  [6]\n
3   $4,575    1,242,245             China  [7]\n
4   $6,205      553,833             China  [8]\n

,Name,Industry,Revenue,Profit,Employees,Headquarters,Ref
0,Walmart,Retail,"$559,151","$13,510","2,300,000",United States,[4]\n
1,State Grid,Electricity,"$386,617","$5,580","896,360\n",China\n,[5]\n
2,Amazon,"Retail, Information Technology","$386,064","$21,331","1,608,000\n",United States\n,[6]\n
3,China National Petroleum\n,Oil and gas\n,"$283,958","$4,575","1,242,245",China,[7]\n
4,Sinopec Group,Oil and gas,"$283,728","$6,205","553,833",China,[8]\n